name: Benchmarks

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '.clusterfuzzlite/**'
      - '.codeql/**'
      - '.github/internal_templates/**'
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/dependabot.yml'
      - '**/.vscode/**'
      - '**/*.code-workspace'
      - '**/LICENSE'
      - '**/cliff.toml'
      - '**/*.md'
      - 'book/**'
      - 'img/**'
      - 'pdf/**'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - '.clusterfuzzlite/**'
      - '.codeql/**'
      - '.github/internal_templates/**'
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/dependabot.yml'
      - '**/.vscode/**'
      - '**/*.code-workspace'
      - '**/LICENSE'
      - '**/cliff.toml'
      - '**/*.md'
      - 'book/**'
      - 'img/**'
      - 'pdf/**'

env:
  CARGO_TERM_COLOR: always
  CARGO_PATCH_CRATES_IO_RSONPATH_LIB_GIT: https://github.com/V0ldek/rsonpath.git

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Force remove rsonpath-lib patch from Cargo.toml
      run: sed -i '/^\[patch.crates-io\]/d' ./Cargo.toml && sed -i '/^rsonpath-lib = { path = .*$/d' ./Cargo.toml
    - name: Install lld
      run: sudo apt install lld
    - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      name: Setup Java JDK
      with:
        distribution: temurin
        java-version: 17
    - name: Cache restore
      id: cache-restore
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: cargo-${{ hashFiles('**/Cargo.toml') }}
    - name: Build all features
      uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # v1.0.3
      with:
        command: build
        args: --all-features

  clippy:
    permissions:
      checks: write
    name: Clippy (stable)
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Force remove rsonpath-lib patch from Cargo.toml
      run: sed -i '/^\[patch.crates-io\]/d' ./Cargo.toml && sed -i '/^rsonpath-lib = { path = .*$/d' ./Cargo.toml
    - name: Install lld
      run: sudo apt install lld
    - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      name: Setup Java JDK
      with:
        distribution: temurin
        java-version: 17
    - name: Cache restore
      id: cache-restore
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: cargo-${{ hashFiles('**/Cargo.toml') }}
    - name: Build all features
      uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # v1.0.3
      with:
        command: build
        args: --all-features
      env:
        RUSTFLAGS: "--deny warnings"
    - name: Clippy all features
      uses: actions-rs/clippy-check@b5b5f21f4797c02da247df37026fcd0a5024aa4d # v1.0.7
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        args: --all-features -- --deny warnings

  clippy-nightly:
    permissions:
      checks: write
    name: Clippy (nightly)
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Force remove rsonpath-lib patch from Cargo.toml
      run: sed -i '/^\[patch.crates-io\]/d' ./Cargo.toml && sed -i '/^rsonpath-lib = { path = .*$/d' ./Cargo.toml
    - name: Install lld
      run: sudo apt install lld
    - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      name: Setup Java JDK
      with:
        distribution: temurin
        java-version: 17
    - name: Cache restore
      id: cache-restore
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: cargo-${{ hashFiles('**/Cargo.toml') }}
    - name: Rustup nightly toolchain
      uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
      with:
        toolchain: nightly
        components: clippy, rustfmt
        override: true
        default: true
    - name: Build all features
      uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # v1.0.3
      with:
        command: build
        args: --all-features
      env:
        RUSTFLAGS: "--deny warnings"
    - name: Clippy all features
      uses: actions-rs/clippy-check@b5b5f21f4797c02da247df37026fcd0a5024aa4d # v1.0.7
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        args: --all-features -- --deny warnings
